.header{
    background-color: #F5F5F5;
}
.language_selector{
    //overflow:hidden;
    //margin:0 auto;
    //width:750px;
    display: inline-block;
}
.col-centered {
    margin: 0 auto;
    text-align: center;
}
.language_selector li {
    width: 87px;
    height: 100px;
    display: inline-block;
    float: left;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.language_selector li:hover{
    opacity:1;
    //height:190px;
}
.language_selector li.eng:hover, .language_selector li.eng.selected{
    border-bottom:4px solid rgba(11, 132, 138, 1);
}
.language_selector li.spa:hover, .language_selector li.spa.selected{
    border-bottom:4px solid rgba(241, 83, 70, 1);
}
.language_selector li.fra:hover, .language_selector li.fra.selected{
    border-bottom:4px solid rgba(32, 16, 49, 1);
}
.language_selector li.rus:hover, .language_selector li.rus.selected{
    border-bottom:4px solid rgba(228, 148, 7, 1);
}
.language_selector li.cl:hover{
    border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon {
    background: rgba(255, 255, 255, 0.4);
    /* padding: 14px; */
    border-radius: 100%;
    margin: 16px auto;
    display: block;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    box-shadow: 0 0 0 15px rgba(255,255,255,0.1);
    -webkit-box-shadow: 0 0 0 15px rgba(255,255,255,0.1);
}
.language_selector li:hover img.icon{
    background:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 0px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.language_selector li span {
    text-align: center;
    display: block;
    padding-top: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 0.9em;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.language_selector li:hover span {
    margin-top: -5px;
}
.eng{
    background:rgba(29, 162, 168, 0.8);
}
.spa{
    background:rgba(255, 89, 76, 0.8);
}
.fra{
    background:rgba(47, 31, 64, 0.8);
}
.rus{
    background:rgba(254, 162, 14, 0.8);
}
.cl{
    background:rgba(93, 181, 29, 0.8);
}
.verticle-center{
    display: flex;
    align-items: center;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}
.nav > li > a{
    padding: 5px 15px;
}
/***************************************************
                Custom Style
***************************************************/
#page-content{
    padding: 0;
    background-color: #222;
    color: #ddd;
}
.header{
    background-color: #333;
    color: #fff;
}
#page-footer {
    background-color: #333;
    color: #fff;
}
#page-footer .inner{
    border-top: 1px dotted #0dcdbd;
}
.footer-bottom{
    background-color: #fff;
    color: #333;
    border-bottom: 3px solid #0dcdbd !important;
}
#partners {
    background-color: #fff;
    color: #474747;
}
.header .wrapper .navigation-items .wrapper ul li a {
    color: #ddd;
}
.toggle-navigation .icon .line {
    background-color: #ddd;
}
.btn.framed.icon {
    background-color: #eee;
    color: #777;
    border-color: #0dcdbd;
    transition: all 0.4s ease-in-out;
}
#page-footer .social a i {
    margin-right: 5px;
    background-color: rgba(0,255,255, 0.3);
    color: #fff;
}
.feature-box i {
    border-color: #0dcdbd;
}

#featured .restaurent_img{
    height: 180px; 
}
.site_name {
    color: #fff;
    font-size: 300%;
    font-family: cursive;
}
.language_selector li {
    background-color: transparent;
}
.language_flag {
    max-width: 50px;
}
#detail-sidebar section{
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    color: #555;
}
#detail-sidebar header {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
}
#detail-sidebar header h3{
    margin: 0;
}
#detail-sidebar .rating{
    margin: 0;
}
.padding-0{
    padding: 0;
}
.restaurent_filter{
    padding: 10px 10px 0 10px !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #0dcdbd;
    opacity: 0.5;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #0dcdbd;
    opacity: 0.8;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #0dcdbd;
    opacity: 0.5;
}
.price .price-meta{
    color:#fff !important;
}
.feature-box .description{
    margin-left: 0;
}
.feature-box i{
    float: none;
}
.feature_container_box {
    margin-top: 15px;
    display: block;
}
.package-box-wrap{
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.package-box-wrap:hover {
    transform: scale(1.1);
}
.bg_video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg_video video{
    width: 100%;
}
.blur_background {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100% !important;
    position: relative;
    padding: 245px 0;
    overflow: hidden;
}